@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.margin--64 {
  margin-top: -64px;
}

.post-img-frame {
  border: 6px solid #ccc;
  content: "";
  display: block;
  height: 100%;
  left: -23px;
  position: absolute;
  top: -23px;
  width: 100%;
  border-color: #ac41f4
}
